#area-data{ margin-left:15px;}
a.bookmark-this{ margin-left:25px;}
#area-data p.description{ padding-left:15px;}
div.carousel-inner img{ width:340px;height:270px; border:5px #DDD solid; overflow:hidden; border-radius:6px;}

.carousel-control {
position: absolute;
top: 50%;
left: 15px;
width: 40px;
height: 40px;
margin-top: -20px;
font-size: 60px;
text-align: center;
font-weight: 100;
line-height: 30px;
color: #ffffff;
text-align: center;
background: #222222;
border: 1px solid #ffffff;
-webkit-border-radius: 23px;
-moz-border-radius: 23px;
border-radius: 23px;
opacity: 0.5;
filter: alpha(opacity=50);
}
#picture-holder{ margin-top:40px; margin-right:30px;}