@charset "utf-8";
/* CSS Document */

.searchSelect
{
	border:none !important;
	margin:10px 0px 0px 4px !important;
	font-size:11px !important;
	line-height:5px !important;
	padding:0px !important;
	height:20px !important;
	float:left !important;
}


.bhinew-inner-conatiner
{
    width:99.6%;
    float:left;
	border-left:#d0d0d0 solid 2px;
	border-right:#d0d0d0 solid 2px;
}