.birthday-holder{clear:both;}
.birthday-holder label{ width:60px; float:left; line-height:28px;}
.birthday-holder select{ margin-left:2px; float:left;}
.city-container{ background:#C00;clear:both;}
.city-select{ margin:5px 0;}
.submit-btn{ margin:8px 0;}
.fb-login-link,.fb-login-link:hover{ background-image:url(../img/fb-icon-white.png); background-repeat:no-repeat; background-position:25px center; text-align:left;}
#signin-with-facebook{ text-align:center;}
.fb-login{color:#FFF;}